<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_VLXDConnectionString" connectionString="Data Source=(localdb)\Projects;Initial Catalog=QL_VLXD;Integrated Security=True;Connect Timeout=30;" />
    </connectionStrings>
</configuration>