<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_VLXDConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=QL_VLXD;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    </connectionStrings>
</configuration>